@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.border-frame {
  /* Use the border image properties exactly as needed */
  border-image: url("https://or-temple-st.dinamalar.com/new2024/temple-white/frame1.png") 93 92 87 92 stretch;
  /* Note: frame1.png must be placed in your public/images directory */

  border-color: #f4cb52;
  border-style: inset;
  border-width: 34px;
}